.token-select-btn {
    height: 32px;
    background-color: var(--colors-tertiary);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 0px inset;
    padding-left: 32px;
    padding-right: 8px;
    margin-right: 16px;
    display: flex;
    align-items: center;
}